img {
    display: inline-block;
    border: 1px solid #000;}

.d-block {
    display: inline;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: #730988;
    padding: 300px;
}

.main {
    width: 100%;
    padding: 0 200px 0 200px;
    margin: auto 0;
}

a.btn.btn-primary.btn-lg.active {
    background-color: #730988;
    text-decoration: none;
    border: 0px; 
}

.nav-link {
    color: #000;
    font-weight: bold;
}

.nav-link.disabled {
    color: #730988;
}

.jumbotron {
    background-color: #474747;
    color: #fff;
}

.lead {
    font-size: 1.15rem;
}

.display-4 {
    padding: 0px; 
}

h1, h2, h3 {
    padding: 0 200px; 
}

.col-beastie {
    margin: 0px -4px; 
}

.col-sm {
    margin: 0px -4px;
    padding: 0px;
}

.col-md {
    margin: 0px -4px 0px -80px;
    padding: 0px;
}

.pics-n-stuff {
    width: 1050px;
    padding: 0, 0, 0, 0px; 
    margin: 0 auto; 
}


